/*
Restructured the css to be in chronological order with the html
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: "Arial", sans-serif, Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: "Calibri", Gill Sans ,Gill Sans MT ,Trebuchet MS , sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: Arial,Trebuchet MS , Lucida Sans Unicode, Lucida Grande, Lucida Sans,  sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
.seo {
    color: #d9dcd6;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

 /* downsized the section elements class since they could all be made as one class.*/
.points{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: "Calibri",Gill Sans ,Gill Sans MT , Trebuchet MS , sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.points img {
    max-height: 200px;
}

.points h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: Calibri,Gill Sans, Gill Sans MT,Trebuchet MS, sans-serif;
    background-color: #2589bd;
}

/* downsized benifit-lead/brand/cost class */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}